:root {
    --gray-text-color:rgba(36, 42, 69, 1);
    --gray-text-color-op:rgba(36, 42, 69, 0.5);
    --login-button-color:#fa5959;
    --input-inner-text-color:rgba(36, 42, 69, 0.25);
    --more-info-button-color:rgba(82, 103, 223, 1);

}


html {
    box-sizing: border-box;
}

*,*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Rubik","Arial",sans-serif;
    font-weight: 400;
    background-color: #fff;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,ul,li,p,a {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;

}


img {
    max-width: 100%;
    height: auto;
}

.site-header {
    width: 100%;
    padding-top: 48px;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.button--red {
    border-radius: 5px;
    background-color: var(--login-button-color);
    box-shadow: 0 8px 8px -4px rgba(73, 93, 207, 0.20);
    cursor: pointer;
    border: 0;
}

.button--red:hover {
    background-color: #fff;
    border: 2px solid var(--login-button-color) ;
}

.button--blue {
    border-radius: 5px;
    background: var(--more-info-button-color);
    box-shadow: 0 8px 8px -4px rgba(73, 93, 207, 0.20);
}





/*Site header styles*/
.site-header__inner {
    display: flex;
    align-items: center;
}



.site-header__logo {
    width: 149px;
    height: 25px;
    margin-right: auto;
    flex-shrink: 0;

}

.site-header__logo:hover {
    opacity: 0.8;
}

.site-header__logo:active {
    opacity: 0.6;
}

.site-header__logo img {
    flex-shrink: 0;

}


/*Site nav styles*/


.sitenav__list {
    display: flex;
    align-items: center;
}
.sitenav-list__item:hover .sitenav__link {
    color: var(--login-button-color);
}

.sitenav-list__item:active .sitenav__link {
    opacity: 0.6;
}



.sitenav-list__item {
    margin-right: 44px;
}

.sitenav__link {
    color: var(--gray-text-color);
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: color 0.2s ease ;
}

/*Site header login*/

.site-header__login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 40px;
    padding: 16px 36px;
    border: 2px solid transparent;
    transition: background-color 0.4s ease,
    border 0.4s ease ;

}

.site-header__login span {
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px; /* 130.769% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: color 0.4s ease;
}


.site-header__login:hover {
    /*background-color: #fff;*/
    /*border: 2px solid var(--login-button-color) ;*/
}

.site-header__login:hover span {
    color: var(--login-button-color);
}

.site-header__login:active {
    opacity: 0.6;
}


/*Site main styles*/
.site-main {
    flex-grow: 1;
}
.site-hero {
    padding-top: 150px;
    background-image: url("../img/whole-bg.png");
    background-repeat: no-repeat;
    background-position:calc(50% + 500px) 300px;
    background-size: 520px 360px;
    padding-bottom: 125px;
    margin-bottom: 85px;
}

.site-hero__inner {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.site-hero__left {
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    padding-top: 65px;

}
.site-hero-left__content h1 {
    color: var(--gray-text-color);
    font-size: 48px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.15px;
    margin-bottom: 24px;
}

.site-hero-left__content p {
    color: rgba(36, 42, 69, 0.5);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}


.hero-link__chrome, .hero-link__firefox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 48px;
    margin-top: 32px;
    padding: 16px 28px;
    border: 2px solid transparent;
}

.hero-link__firefox {
    margin-left: 16px;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0 8px 8px -4px rgba(73, 93, 207, 0.20);
}


.hero-link__chrome {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
    white-space: nowrap;
}

.hero-link__chrome:hover {
    background-color: #fff;
    border-color:var(--more-info-button-color);
    color:var(--more-info-button-color)
}
.hero-link__chrome:active {
    opacity: 0.6;
}

.hero-link__firefox {
    color: var(--gray-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
    white-space: nowrap;
}

.hero-link__firefox:hover {
    border-color: #5b6074;
    background-color: #fff;
    color: rgba(36, 42, 69, 0.75);
}

.hero-link__firefox:active {
    opacity: 0.6;
}


.site-hero__right {
    display: flex;
    flex-direction: column;
    width: 578px;
    height: 385px;
    flex-shrink: 0;
    transform: translateX(100px);

}

.site-hero__right img{
    width: 100%;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;

}


/*Section titles styles*/
.site-main-titles {
    width: 540px;
    height: 152px;
    margin: 0 auto;
}
.site-main-titles__heading {
    color: rgba(36, 42, 69, 1);
    font-size: 32px;
    font-weight: 500;
    line-height: 52px; /* 162.5% */
    letter-spacing: -0.1px;
    text-align: center;
}

.site-main-titles__info {
    color: rgba(36, 42, 69, 0.5);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

          /*Site main tabs styles*/
.site-main-tabs {
    margin-top: 72px;
    margin-bottom: 150px;
    padding-bottom: 90px;
}
.site-main-tabs__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
}

.site-main-tabs__item {
    width: 243px;
    text-align: center;
    padding-bottom: 28px;
    border-bottom: 1px solid rgba(73, 93, 207, 0.2);

}

.site-main-tabs__item {
    border: 4px solid transparent;
}

.site-main-tabs__item--active {
    border-bottom: 4px solid var(--login-button-color);
}

.site-main-tabs__item a {
    color:rgba(36, 42, 69, 0.75);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.533px;
}


     /*Tab card styles*/
.site-main-tabs__card {
    width: 100%;
    max-width: 100%;
}

.site-main-tabs__card {
    display: none;
}

.site-main-tabs__card--active {
    display: block;
}


.site-main-tabs__inner {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.site-main-tabs-illustration--bookmark {
    margin-right: 125px;
}

.site-main-tabs-illustration--search {
    margin-right: 115px;
}

.site-main-tabs-illustration--share {
    margin-right: 145px;
}



.site-main-tabs__content {
    width: 100%;
    max-width: 445px;
}


.site-main-tabs__title {
    color: var(--gray-text-color);
    font-size: 32px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.1px;
}

.site-main-tabs__text {
    color: rgba(36, 42, 69, 0.5);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}


.site-main-tabs__button {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 48px;
    padding: 12px 24px;
    margin-top: 32px;
    white-space: nowrap;
}

.site-main-tabs--tstyles {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
}


/*Site main extentions*/

.site-main-extention-cards {
    width: 100%;
    max-width: 910px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

.site-main-extention__list {
    display: flex;
    height: 100%;
}

.site-main-extention__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 280px;
    height: 371px;
    padding: 49px 24px 24px 24px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px -5px rgba(73, 93, 207, 0.20);
}
.site-main-extention__item::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 96px;
    width: 100%;
    height: 4px;
    background-image: url("../img/dotts-bg.svg");
    background-position: center center;
}



.site-main-extention__item:nth-child(1) {
    align-self: flex-start;
}

.site-main-extention__item:nth-child(2) {
    align-self: center;
}
.site-main-extention__item:nth-child(3) {
    align-self: flex-end;
}








.site-main-extention__item:not(:last-child) {
    margin-right: 35px;
}

.site-main-extention__item img {
    margin-bottom: 32px;
}
.site-main-extention__content {
    margin-bottom: 60px;
}
.site-main-extention__content h3 {
    margin-bottom: 6px;
    color: var(--gray-text-color);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.25px;
}
.site-main-extention__content p {
    color: rgba(36, 42, 69, 0.5);
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}


.site-main-extention__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 232px;
    height: 48px;
    padding: 14px 39px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease,
    background-color 0.3s ease, color 0.3s ease;
}

.site-main-extention__link:hover {
    border-color: var(--more-info-button-color);
    background-color: #ffffff;
    color:var(--more-info-button-color)

}







@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .site-hero {
        background-image: url("../img/whole-bg@2x.png");
    }

}